.avatar {
  &--cruncho {
    background-color: rgb(236, 75, 68) !important;
  }
  &--reputación_digital {
    background-color: rgb(16, 89, 118) !important;
  }
  &--qbit {
    background-color: rgb(15, 128, 185) !important;
  }
}
