.avatar {
  &--cruncho {
    background-color: rgb(236, 75, 68) !important;
  }
  &--reputación_digital {
    background-color: rgb(16, 89, 118) !important;
  }
  &--qbit {
    background-color: rgb(15, 128, 185) !important;
  }
  &--solo_projects {
    background-color: rgb(15, 128, 185) !important;
  }
}

.card-background {
  &--cruncho {
    background-color: rgba(236, 75, 68, 0.2) !important;
  }
  &--reputación_digital {
    background-color: rgba(16, 89, 118, 0.2) !important;
  }
  &--qbit {
    background-color: rgba(15, 128, 185, 0.2) !important;
  }
  &--solo_projects {
    background-color: rgba(15, 128, 185, 0.2) !important;
  }
}

.headerStepper {
  &--cruncho {
    background-color: rgba(236, 75, 68, 0.2) !important;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      border-color: rgba(236, 75, 68, 0.5) !important;
    }
  }
  &--reputación_digital {
    background-color: rgba(16, 89, 118, 0.2) !important;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      border-color: rgba(16, 89, 118, 0.5) !important;
    }
  }
  &--qbit {
    background-color: rgba(15, 128, 185, 0.2) !important;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      border-color: rgba(15, 128, 185, 0.5) !important;
    }
  }
  &--solo_projects {
    background-color: rgba(15, 128, 185, 0.2) !important;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
    &:hover {
      border-color: rgba(15, 128, 185, 0.5) !important;
    }
  }
}
